.file {
    border: 2px solid rgb(54, 54, 175);
    position: relative;
    width: 370px;
    height: 60px;
    border-radius: 5px;
    top: 5%;
    margin-left: 17%;
}

.container {
    background-color: white;
    height: 580px;
    width: 70%;
    margin-left: 130px;
    margin-right: 130px;
    border-radius: 15px;
    border: 2px solid;

}

label {
    font-size: larger;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 33, 153);
}

input {
    color: rgb(54, 54, 175);
}

input::file-selector-button {
    font-weight: bold;
    color: rgb(12, 13, 14);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
}

input[type="file"]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: #a29bfe;
    transition: -2s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

button {
    width: 250px;
}

.material-icons{
    color: rgb(85, 33, 153);
}