<div class="container">
    <div class="wrapper bg-white rounded shadow">
        <div class="h2 text-center fw-bold">FAQs about Car Loans</div>
        <!-- <div class="h3 text-primary text-center">How can we help you?</div> -->
        <div class="d-flex justify-content-center">

        </div>
        <div class="accordion accordion-flush border-top border-start border-end" id="myAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        1. Can I get 100% funding to buy a car?</button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>The maximum amount of loan that you can avail to buy a car will vary from lender to
                                lender.
                                Most banks offer financing up to 90% of the on-road price of the car but there are some
                                banks such as HDFC Bank, etc., that offers financing for up to 100% of the car's on-road
                                price.</p>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        2. Can I pre-pay the entire loan amount? What are the conditions involved?
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Yes, you can prepay the entire car loan and save on vital interest payments in the
                                future. However, most banks will allow the pre-payment option after you have chalked off
                                6 months on your loan tenure. Plus, you will be expected to pay a
                                small fee as pre-payment penalty that will be dependent on the leftover loan amount.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                        aria-expanded="false" aria-controls="flush-collapseThree">3. What car models are financed by the
                        standard car loan in India?
                    </button> </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Unless otherwise specified, almost all small to medium sized cars, Commercial Vehicle
                                Loan, Sports Utility Vehicles (SUV), and Multi Utility Vehicles (MUV) come under the
                                purview of car loans available in India.
                                However, as mentioned, refer to the loan brochure for exceptions to this rule.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour"
                        aria-expanded="false" aria-controls="flush-collapseFour">4. When applying for the car loan, do I
                        need a guarantor/ security?
                    </button> </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Almost all car loan products available in India are secured loans, with the procured
                                vehicle itself acting as the customary security. Most lenders in India will not insist
                                upon any guarantors; however,
                                if your annual income does not match up to the expected requirement, then you may be
                                expected to sign-up a co-applicant and/or guarantor.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive"
                        aria-expanded="false" aria-controls="flush-collapseFive"> 5. What are the commonly available car
                        loan repayment tenures?
                    </button> </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Repayment tenures usually range from 12 months to 84 months (1-7 years).</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne"> <button class="accordion-button collapsed border-0"
                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix"
                        aria-expanded="false" aria-controls="flush-collapseSix"> 6. What kind of a credit score do you
                        need to buy a car?
                    </button> </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingOne" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Just like with most loans, a high credit score above 750 is ideal. But you can still
                                apply for a loan
                                if your credit score is above 600. Remember, if your score is too low, your application
                                may be rejected.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseSeven" aria-expanded="false"
                        aria-controls="#flush-collapseSeven">
                        7. Can I get 100% funding to buy a car?</button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingSeven" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>The maximum amount of loan that you can avail to buy a car will vary from lender to
                                lender.
                                Most banks offer financing up to 90% of the on-road price of the car but there are some
                                banks such as HDFC Bank, etc.,
                                that offers financing for up to 100% of the car's on-road price.</p>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        8. What is the minimum credit score I need to get a car loan? </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingEight" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>When you apply for a car loan, lenders will look for a credit score of at least 750.
                                Below this score, lenders may be reluctant to lend to you as it indicates your low
                                repayment capacity.
                                Some banks may offer you a car loan despite your low credit score but they may charge a
                                higher interest rate.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        9. Should I take a car loan from the car dealership or bank? </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingNine" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Before you apply for any car loan, ensure that you explore all the options available.
                                Once you explore, you will get an idea about the benefits offered by various lenders on
                                their car loans. Compare the benefits offered and pick a lender that fits your
                                requirements.
                                Whether it is a bank or a car dealership, pick the one that offers better interest
                                rates.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        10. Do banks offer finance for used cars? </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingTen" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Yes. Many top lenders such as SBI, HDFC Bank, etc., offer loans to buy used cars.
                                These lenders offer car loans for up to 85% of the car's value provided that the car is
                                not more than 5 years old.
                                Used car loans can be repaid in a maximum of 7 years.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseEleven" aria-expanded="false"
                        aria-controls="flush-collapseEleven">
                        11. What will lenders look for when I apply for a car loan? </button>
                </h2>
                <div id="flush-collapseEleven" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingEleven" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>One of the most important factors that lenders consider before offering you a car loan is
                                your credit score.
                                As stated above, a credit score of above 750 can fetch you lower interest rates and
                                other benefits.
                                The other factors that lenders look for when you apply for a car loan are your
                                employment status,
                                residence and job stability, income, debt-to-income ratio, etc.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwelve" aria-expanded="false"
                        aria-controls="flush-collapseTwelve">
                        12. What is the lowest EMI that I need to pay for a car loan? </button>
                </h2>
                <div id="flush-collapseTwelve" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingTwelve" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>The amount of EMI (equated monthly instalments) that you will be paying towards your car
                                loan will depend on the interest rate,
                                loan amount, and the repayment tenure you choose. You can calculate the EMI by using the
                                EMI Calculator tool available on the BankBazaar website.
                                For example, let us suppose that you avail a car loan of Rs.1 lakh at an interest rate
                                of 12% for a tenure of 5 years. Using the tool,
                                we calculated the EMI and found it to be Rs.2,224.</p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThirteen" aria-expanded="false"
                        aria-controls="flush-collapseThirteen">
                        13. How much down payment do I need to make to buy a car?</button>
                </h2>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingThirteen" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>Making a higher down payment will mean that you will need to avail a lower loan amount to
                                buy a car.
                                When you avail a lower loan amount, there are chances that banks or lenders may offer
                                you a car loan at
                                lower interest rates. This is simply because if the loan amount is lower, the repayment
                                will be quicker.
                                So, though there is no hard and fast rule to how much down payment you should make, a
                                higher down payment
                                will ensure that your debt liability is lesser. </p>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFourteen" aria-expanded="false"
                        aria-controls="flush-collapseFourteen">
                        14. Can I get a lower interest rate if I have a good credit score?</button>
                </h2>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse border-0"
                    aria-labelledby="flush-headingFourteen" data-bs-parent="#myAccordion">
                    <div class="accordion-body p-0">
                        <ul class="list-unstyled m-0">
                            <p>If your credit score is above 750, you can negotiate with the banks to offer you a car
                                loan at a lower interest rate.
                                Many lenders will let you negotiate on the interest rates since your high credit score
                                is an indication of your high repayment capacity.
                                Some lenders may also offer you a waiver on the processing fee if you have a good credit
                                score.</p>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>