
body {
    font-family: "Lato", sans-serif;
}




.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;

}


.main {
    height: 100%;
    background-color: #80634C;
    padding-top: 120px;
    padding-bottom: 230px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;


    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
        height: 100%;
    }

    .register-form {
        margin-top: 10%;
    }
}


@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;

    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }




}


.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: rgb(10, 6, 6) !important;
    color: #fff;
}

.text {
    color: white;
}

.b {
    position: absolute;
    right: 55px;
    top: 10px;

}


input.mat-input-element {
    color: rgb(241, 241, 241);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(241, 241, 241) !important;
    border: 5px;
}

::ng-deep .mat-form-field-label {
    color: rgba(255, 255, 255, 0.6) !important;

}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red !important;
    opacity: 0.8 !important;
}

::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: red !important;
}