<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!------ Include the above in your HEAD tag ---------->
<div class="sidenav">


    <div class="login-main-text">


        <div class="container">
            <h1 style="text-align: center;" class="neonText">
                Alpha Vehicle Loan <br>
                <h3>Employee Login Page</h3>
            </h1>
            <p class="neonText" style="text-align: center;">Login from here to access.</p>

        </div>
    </div>
</div>
<div class="main">
    <div class="b">
        <button (click)="navigateToHome()" class="btn">
            <b>Back</b>
        </button>
    </div>
    <div class="col-md-6 col-sm-12">

        <form [formGroup]="reactive" (ngSubmit)="onsubmit()" (ngSubmit)="mainLogin(emp.eid,emp.password)">
            <p>
                <mat-form-field appearance="outline" color="ThemePalette">
                    <mat-label>Enter ID</mat-label>
                    <input [(ngModel)]="emp.eid" matInput="text" placeholder="Enter Employee ID"
                        formControlName="username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="!reactive.get('username').hasError('username')">This
                        field
                        is
                        required</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input [(ngModel)]="emp.password" formControlName="password" matInput
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!reactive.get('password').hasError('password')">Password must contain 10
                        elements</mat-error>
                </mat-form-field>
            </p>
            <div>
                <button class=" btn btn-black" type="submit">Login</button>
            </div>



        </form>
    </div>
