<div style="text-align: center;" class="nav">


    <nav class="fonts">
        <a class="a" style="color: black;" routerLink="addenquiry" routerLinkActive="active"><b>Enquiry</b></a>
        &nbsp;&nbsp;&nbsp;

        <a class="a" style="color: rgb(12, 6, 6);" routerLink="viewenquiry" routerLinkActive="active"><b>View
            </b></a>&nbsp;&nbsp;&nbsp;

        <a class="a" style="color: black;" routerLink="register"
            routerLinkActive="active"><b>Register</b></a>&nbsp;&nbsp;&nbsp;

        <a class="a" style="color: black;" routerLink="uploaddocs"
            routerLinkActive="active"><b>Upload-Documents</b></a>&nbsp;&nbsp;&nbsp;



    </nav>
    <router-outlet></router-outlet>
</div>