<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="drawer">
        <div>
            <img src="assets\adminlogo.png">
            <h1><b>Relation Executive</b></h1>
        </div>
        <div>
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="addenquiry">Add
                Enquiry</button>
            <br>
            <br>
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="viewenquiry">View
                Enquiry</button>
            <br>
            <br>
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="register">Register</button>
            <br>
            <br>
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="uploaddocs">Upload
                Documents</button>

        </div>
    </mat-drawer>

    <mat-drawer-content class="main"><router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>