@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    color: rgba(0, 0, 0, 0.8);
    display: grid;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
    justify-items: center;

}


.right-container {
    background: #ffffff;
    display: grid;
    border-radius: 15px;
    width: 600px;
}

.right-container h1:nth-of-type(1) {
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    font-weight: 555;
    font-family: 'Segoe UI', Tahoma, Geneva;
}

.right-container .set {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}




.right-container header {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


.right-container input{
    width: 200px;
}


.right-container footer {
    align-items: center;
    background: white;
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    border-radius: 10px;
    
}

.right-container footer button {
    border: 1px solid rgba(5, 5, 5, 0.2);
    color: rgb(253, 253, 253);
    height: 38px;
    line-height: 38px;
    width: 100px;
    font-family: "Montserrat", sans-serif;
}

.right-container footer #back {
    background-color: white;
    color: black;
    transition: 0.2s all ease-in-out;
}

.right-container footer #back:hover {
    background-color: black;
    color: white;
}

.right-container footer #next {
    background-color: white;
    color: black;
    transition: 0.2s all ease-in-out;
}

.right-container footer #next:hover {
    background-color: black;
    color: white;
}

