<body class="container">


    <h1>Project Devlopers</h1>
    <h3>Hover over the image below:</h3>

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <br>
                        <h1><b>Shubham Dahiwale</b></h1>
                        <h2><b>Full Stack Devloper</b></h2>
                        <h2><b>Nagpur</b></h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="\assets\Shubham.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <br>
                        <h1><b>Ajit Dighe</b></h1>
                        <h2><b>Full Stack Devloper</b></h2>
                        <h2><b>Pune</b></h2>
                    </div>
                    <div class="flip-card-back">
                        <img src="\assets\Ajit.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <br>
        <br>
        <mat-grid-tile>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <br>
                        <h1><b>Swapnil Mandvekar</b></h1>
                        <h2><b>Full Stack Devloper</b></h2>
                        <h2><b>Mumbai</b></h2>

                    </div>
                    <div class="flip-card-back">
                        <img src="\assets\SwapnilM.jpg" alt="Avatar" style="width:300px;height:300px;">

                    </div>
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <br>
                        <h1><b>Sneha Jagdale</b></h1>
                        <h2><b>Full Stack Devloper</b></h2>
                        <h2><b>Pune</b></h2>

                    </div>
                    <div class="flip-card-back">
                        <img src="\assets\Sneha.jpg" alt="Avatar" style="width:300px;height:300px;">

                    </div>
                </div>
            </div>
        </mat-grid-tile>
        <br><br>
        <mat-grid-tile>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <br>
                        <h1><b>Mahesh Raghu</b></h1>
                        <h2><b>QA Automation Tester</b></h2>
                        <h2><b>Pune</b></h2>

                    </div>
                    <div class="flip-card-back">
                        <img src="\assets\Mahesh.jpg" alt="Avatar" style="width:300px;height:300px;">

                    </div>
                </div>
            </div>
        </mat-grid-tile>

    </mat-grid-list>
</body>

