.s {
    padding-bottom: 50px;
}

.logbtn{
    position: absolute;
    right: 50px;
    top: 25px;
}

.nav {
    padding: 20px;

}

.fonts {
    padding-bottom: 50px;

}

.a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: larger;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgba(14, 87, 223, 0.158), rgb(177, 226, 228));

}



.active {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 35px;
}

.mainbtn {
    font-size: 50px;
    background-color: #C7DAD4;
    padding-right: 300px;
    padding-bottom: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.abc {
    display: block;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.a:hover {
    background-color: #0fec21;
    border-radius: 65px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}


.a:hover::after {
    background-color: #ec00d9;
    border-radius: 65px;

}


html {
    background-image: linear-gradient(to right, #C8E3F6, #F0F5FB);
    margin-top: -1rem;
    margin: -1rem;
    padding: 50px;
    size: auto;
    height: fit-content;
}



.b {
    background-image: linear-gradient(to right, #C8E3F6, #F0F5FB);
    padding-top: 29px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-45deg, #194E48, #130941, #FBD686, black, #60E3D5);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3vw;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 80s ease-in-out infinite;
    -moz-animation: animated_text 16s ease-in-out infinite;
    -webkit-animation: animated_text 6s ease-in-out infinite;
}

@keyframes animated_text {
    0% {
        background-position: 200px 500%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 200px 90%;
    }
}


button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    width: 9rem;
    height: auto;
   

}

button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(to right, #ee0b0b 0%, #47bb73 51%, #6e7b80 100%);
    border-radius: 1.625rem;

}

button .arrow_icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.225rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;

}

button .arrow_icon::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button .button_text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    inset: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(23, 23, 24);
    text-transform: uppercase;
    font-size: 1rem;

    line-height: 0.7;
    letter-spacing: 1.2px;

    font: bold;
}

button:hover .circle {
    width: 100%;
}

button:hover .arrow_icon {
    background: #fff;
    transform: translate(1rem, 0);
}